.termsConditions {
    width: 70%;
    margin: 5% auto;
}

.termsConditions>h1 {
    text-align: center;
    margin-bottom: 3%;
    color: #292F36;
}

.termsConditions>p>h3 {
    margin-top: 5%;
}

.termsConditions>p {
    font-family: 'Jost';
    color: #4D5053;
}