.PagePath {
    width: 100%;   
    /* height: 40vh; */
    padding: 15% 0 3% 0;
    background-color: var(--most-light-violet);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
}

.PagePath>h1 {
    padding-left: 10%;
    margin-bottom: 1%;
    color: var(--darkBlue-color);
    font-size: 32px;
    text-transform: uppercase;
}

.PagePath>p {
    padding-left: 10%;
}

.PagePath>p,
.PagePath>p>a {
    color: black;
    font-family: "Jost";
    text-decoration: none;
    font-size: 14px;
}

.PagePath>p>span {
    text-transform: uppercase;
    color: var(--pink-color);
} 