.ShopList {
  width: 100%;
}
.list-about {
  width: 80%;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.la-title {
  width: 45%;
  text-align: left;
}

.la-title > h1 {
  color: var(--darkBlue-color);
  margin: 0;
}
.la-title > p {
  color: var(--grayViolet);
}

.list-filter {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
/* filter button */
.filterButton {
  width: 30%;
  display: none;
}
.filterButton button {
  width: 100%;
  outline: none;
  border: 1px solid var(--darkBlue-color);
  background-color: white;
  border-radius: 5px;
  padding: 3% 0;
  margin: 0 0 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* views */
.views {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.views > p {
  cursor: pointer;
  color: var(--yellow-color);
}

/* FILTER */
.select-button {
  width: 55%;
  outline: none;
}

.select-button,
.select-button:active {
  background-color: transparent !important;
  color: var(--darkBlue-color) !important;
  border: 1px solid var(--darkBlue-color) !important;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 15px;
}

select > option:hover {
  background-color: yellow;
}

/* all shop list */
.allShopList {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 5% auto 10% auto;
}

/* SHOP SIDEBAR */
.shopSideBarPart {
  width: 25%;
}

.menuSideBar {
  position: absolute;
  width: 0%;
  min-height: 100vh;
  margin: 0 0% 3% 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
}

.menuSideBar .shopSideBar {
  width: 100%;
  padding: 3% 0 0 10%;
  animation-name: showing;
  animation-duration: 0.5s;
}

@keyframes showing {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

.filterMenu {
  width: 50%;
  overflow-y: scroll;
  height: 100vh;
  position: absolute;
  top: -135px;
}

.close-menu {
  width: 100%;
  font-size: 25px;
  text-align: right;
  padding: 0 5% 0% 0;
  background-color: white;
}

.filterIcon-shop {
  margin-right: 5%;
}

/* LIST OF PRODUCTS */
.listProducts {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.gridProducts {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  height: min-content;
  justify-content: space-around;
}

/* MEDIA SCREEN */
@media screen and (max-width: 640px) {
  .list-about {
    flex-direction: column;
    align-items: flex-start;
  }
  .list-filter {
    width: 80% !important;
  }
  .filterMenu {
    overflow-y: scroll;
    height: 100vh;
    width: 66%;
    position: absolute;
    top: -11%;
    left: 8%;
  }
}
@media screen and (max-width: 991px) {
  .list-filter {
    width: 47%;
  }
  .views {
    width: 14%;
  }
  .select-button {
    width: 45%;
  }
  .filterButton {
    display: inline;
  }
  .gridProducts {
    width: 100% !important;
  }
  .shopSideBar div {
    margin-bottom: 5%;
  }
}
