.BlogPage {
    width: 100%;
}

.allBlog-page {
    width: 70%;
    margin: 8% auto;
    display: flex;
    justify-content: space-between;
}

.blog-area {
    width: 60%;
}

/* ADDITIONAL */
.blog-additional {
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.blog-additional h1 {
    color: var(--darkBlue-color);
    font-size: 25px;
    margin-bottom: 10%;
}

