.dropdown {
  margin-top: -2px !important;
}

.container {
  margin-left: 2.5% !important;
}

.navbar-brand {
  margin-left: 13%;
  margin-top: 1%;
}

.headerdroplistitem .nav-link {
  font-family: "Josefin Sans" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #f1f1f1;
  margin-left: 2px;
}

.HeadingBar {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 44px;
  background-color: #7e33e0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.headerdroplist {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3%;
  width: 95%;
}

.headerdroplistitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.headerdroplistitem1 a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  width: 30px;
}

.headerdroplistLang a,
.headerdroplistCur a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
}

.headerdroplistLang a:first-child,
.headerdroplistCur a:first-child {
  color: black;
}

.header-icon {
  color: white;
  margin-left: 3px;
  width: 17px;
  height: 17px;
}

.cardicon {
  color: white;
  margin-left: 3px;
  width: 20px;
  height: 20px;
  margin-top: -7px;
}


.card-length {
  color: white;
  position: absolute;
  top: 0.7px;
}

@media (max-width: 991.5px) {
  .headerdroplist {
    display: flex;
    justify-content: space-around;
    width: 98%;
    margin-left: 2%;
  }

  .headerdroplistitem {
    font-size: 12px;
    line-height: 14px;
  }

  .headerdroplistitem1 {
    font-size: 12px;
    line-height: 14px;
  }
}

.dropdown-menu.show {
  z-index: 20002 !important;
  background-color: var(--light-violet);
}

@media (max-width: 989.5px) {
  #collasible-nav-dropdown ~ .dropdown-menu.show {
    display: block;
    position: absolute !important;
    inset: 0px auto auto 0px;
    transform: translate3d(2px, 2px, 0px) !important;
    background-color: var(--light-violet) !important;
    z-index: 20002 !important;
    border: var(--bs-dropdown-border-width);
    margin-top: 1.605rem;
  }
}
