.HeadingBar {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 40px;
  background-color: #7e33e0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.phoneandmail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15%;
}

.phone,
.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mail a,
.phone a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #f1f1f1;
  width: 135px;
  margin-left: 7px;
  text-decoration: none;
}

.headerdroplist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
}

.headerdroplist div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #f1f1f1;
}

.header-icon {
  color: white;
  margin-left: 3px;
  width: 17px;
  height: 17px;
}
