.LittleBlog {
    width: 100%;
}

.LittleBlog>a {
    width: 100%;
    margin-bottom: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a>.lBlog-img {
    width: 27%;
    object-fit: cover;
}

a>.lBlog-img>img {
    width: 100%;
    border-radius: 5px;
}

a>.lBlogInfo {
    width: 70%;
}

a>.lBlogInfo>p {
    margin: 0;
}

a .bTitle {
    width: 100%;
    color: var(--darkBlue-color);
    font-family: 'Josefin Sans';
    font-size: 16px;
}

a .bDetail {
    width: 100%;
    color: var(--gray-color);
    font-family: 'Jost';
    font-size: 14px;
}

@media(max-width:737.5px){

    .blog-area {
        width: 100%;
    }
    
    .allBlog-page{
        display: flex;
        flex-direction: column-reverse;
    }

    .blogCategories, .recentPosts, .saleProducts, .b-smedias {
        margin: 20% 0;
    }

    .BlogSide h1 {
        margin-bottom: 4%;
    }

    .cList {
        display: flex;
        flex-direction: row;
        gap: 6%;
        margin-top: -5%;
        flex-flow: nowrap;
    }

    .eachPost, .eachProduct{
        display: flex;
        gap:11%;
    }

    .LittleBlog>a {
        margin-bottom: 6%;
        display: flex;
        gap: 9px;
    }

    a>.lBlog-img {
        width: 41%;
        object-fit: cover;
    }

    a>.lBlogInfo {
        width: 166px;
    }
    

}