.footer {
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: var(--light-violet);
}

.f-pages {
    width: 72%;
    display: flex;
    margin: 0 auto;
    padding: 5% 0;
    justify-content: space-between;
}

.fp-categories {
    width: 56%;
    display: flex;
    flex-wrap: wrap;
}

.fp-page {
    flex: 1 1 150px;
}

.fpm-box  {
    display: flex;
    flex-direction: column;
}

.fp-mail {
    text-align: left;
    width: 40%;
    margin-right: 4%;
}

.fp-mail>a>h1 {
    color: var(--darkBlue-color);
    font-family: 'Josefin Sans';
}
.fpm-mailbox {
    display: flex;
    width: 100%;
}

.fpm-mailbox>input {
    width: 60%;
    padding: 3%;
    color: #8A8FB9;
    outline: none;
    border: none;
    border-radius: 10px;
}

.fpm-mailbox>button {
    width: 30%;
    padding: 3% 0;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #FB2E86;
    cursor: pointer;
}

.fpm-box>p {
    color: #8A8FB9;
    font-size: 14px;
}

@media screen and (max-width: 860px) {
    
    .fpm-mailbox {
        flex-direction: column;
    }
    .fpm-mailbox>input {
        width: 90%;
        margin-bottom: 5%;
    }
    .fpm-mailbox>button {
        width: 40%;
    }
}

@media screen and (max-width: 770px) {
    .f-pages {
        width: 80%;
        flex-direction: column;
    }
    .fp-mail {
        width: 100%;
        margin-bottom: 5%;
    }
    .fpm-box {
        flex-direction: row;
        width: 100%;
    }
    .fpm-box >p {
        width: 40%;
        margin: 0;
    }
    .fpm-mailbox {
        width: 45%;
        margin-right: 10%;
    }
    .fpm-mailbox>input {
        padding: 5%;
        width: 100%;
    }
    .fpm-mailbox>button {
        width: 50%;
        padding: 4% 0;
    }
    .fp-categories {
        width: 100%!important;
    }
}

@media screen and (max-width: 610px) {
    .fp-categories {
        width: 100%;
    }
    .fp-page {
        flex: 1 1 150px;
    }
    .categories {
        margin-right: 8%!important;
    }
    .customerCare {
        margin: 0!important;
    }
    .fpm-box >p {
        font-size: 12px;
    }
}


.categories {
    width: 35%;
    margin-right: 4%;
}

.allPages {
    width: 30%;
}

.customerCare {
    width: 30%;
    margin-right: 3%;
}

.fp-page>p{
    color: var(--darkBlue-color);
    text-align: left;
    font-size: 16px;
    font-family: 'Josefin Sans';
    font-weight: 600;
}

.fp-page>ul {
    text-align: left;
    padding: 0;
}

.fp-page>ul>ol {
    color: #8A8FB9;
    padding: 0;
    font-size: 14px;
    line-height: 32px;
    font-family: 'Jost';
}

.f-copy {
    display: flex;
    width: 60%;
    padding: 0 20%;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #E7E4F8;
    align-items: center;
}

.f-copy>p {
    font-size: 12px;
    color: gray;
}

.fc-medias>ul {
    display: flex;
}

.fc-medias>ul>ol>a {
    color: var(--darkBlue-color);
}