.signUp {
    width: 100%;
}

.signUp-part {
    width: 40%;
    margin: 7% auto 10% auto;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 15px var(--light-violet);
}

.signUp-part>h1 {
    font-family: 'Josefin Sans';
    color: var(--darkBlue-color); 
}

.signUp-form {
    width: 100%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.signUp-form>input {
    width: 97%;
    margin: 3% 0;
    padding: 3% 0 3% 3%;
    border: 1px solid var(--gray-color);
    outline: none;
}

.warning {
    color: red;
    font-family: 'Jost';
    font-size: 14px;
    margin-bottom: 2%;
}

.acceptTerm {
    width: 100%;
    margin: 3% 0;
    display: flex;
    align-items: center;
}

.acceptTerm>input {
    width: 8%;
    margin: 0;
}

.acceptTerm>a {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acceptTerm>label>a {
    width: 100%;
}

.acceptTerm>label>a>span {
    color: var(--darkBlue-color);
}

.acceptTerm>label,
.acceptTerm>input {
    color: gray;
    font-size: 14px;
}

.signUp-form>a {
    width: 100%;
}

.submitSign {
    width: 100%;
    margin-top: 3%;
    text-align: center;
    padding: 3% 0;
    color: white;
    background-color: var(--pink-color);
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.submitSign:hover {
    background-color: var(--btn-color);
}

.signUp-part>a {
    width: 100%;
}

.toLogin {
    width: 100%;
    font-family: 'Jost';
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

@media screen and (max-width:660px) {
    .signUp-part {
        width: 40%;
    }
    .signUp-form>input {
        font-size: 12px;
    } 
    .tosignUp {
        font-size: 11px;
    }
    .submitSign {
        font-size: 11px;
        padding: 4% 0;
    }
    .acceptTerm>a>label,
    .acceptTerm>input {
        font-size: 11px;
}
}

@media screen and (max-width:500px) {
    .signUp-part {
        width: 45%;
    }
}