@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

/* Manat - &#8380; */

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --darkBlue-color: #000080;
  --pink-color: #FB2E86;
  --pinkViolet: #F5E1FC;
  --light-pink: #FFE7F9;
  --gray-color: #B7BACB;
  --grayBlue: #F5F6F8;
  --light-blue: #bde0ff;
  --dark-violet: #E7E4F8;
  --light-violet: #EEEFFB;
  --most-light-violet: #F6F5FF;
  --grayViolet: #8A8FB9;
  --yellow-color:#FFA454;
  --light-yellow: #FFECE2;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Josefin Sans";
}

.App {
  text-align: center;
}

