.home {
  width: 100%;
  text-align: center;
}

/* NEW TREND SLIDER */
.hSlider {
  width: 100%;
}
/* BEST SELLER */
.allBestSeller {
  width: 70%;
  margin: 10% auto 5% auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.allBestSeller > h1 {
  color: var(--darkBlue-color);
  margin-bottom: 8%;
  font-size: 35px;
}

/* WHAT OFFER */
.homeWhatOffer {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 6% auto;
}

.homeWhatOffer > h1 {
  color: var(--pink-color);
  margin-bottom: 10%;
  font-size: 35px;
}

/* OFFERED PRODUCT */
.homeOfferedProduct {
  width: 100%;
  padding: 10% 0;
  background-color: var(--light-violet);
  align-items: center;
  display: flex;
}

.o-product {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% auto;
}

.o-product > span {
  width: 40%;
  margin-right: 3%;
  display: flex;
  object-fit: cover;
  background-color: var(--pinkViolet);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
}

.o-product > span > img {
  width: 100%;
}

.op-detail {
  width: 57%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.op-detail > h1 {
  color: var(--darkBlue-color);
  font-family: "Josefin Sans";
  font-weight: 600;
  width: 100%;
}

.op-detail > p {
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--gray-color);
  font-family: "Jost";
  margin: 2% 0;
}

.circle-icon {
  margin-right: 2%;
  width: 10px;
  color: red;
}

.op-addToCard {
  display: flex;
  width: 100%;
  margin-top: 5%;
}

.op-addToCard > a {
  width: 30%;
}
.op-addToCard > a > button {
  width: 100%;
  padding: 10% 0;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--pink-color);
  color: #fff;
  cursor: pointer;
}

.op-addToCard > .op-price {
  width: 65%;
  padding-left: 5%;
  text-align: left;
}

.op-addToCard > .op-price > p {
  margin: 0;
  color: var(--darkBlue-color);
  font-weight: 500;
}

/* NEW ARRIVALS */
.homeNewArrivals {
  width: 85%;
  margin: 10% auto;
}

.homeNewArrivals > h1 {
  color: var(--darkBlue-color);
  margin-bottom: 8%;
  font-size: 35px;
}

/* NEWSLETTER */
.homeNewsletter {
  width: 100%;
  height: 50vh;
  margin: 5% auto;
  background-image: url("../../images/home/newspaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeNewsletter > p {
  width: 50%;
  font-size: 32px;
  font-family: "Josefin Sans";
  color: var(--darkBlue-color);
}

.homeNewsletter > a {
  width: 10%;
}
.homeNewsletter > a > button {
  width: 100%;
  padding: 10% 0;
  background-color: var(--pink-color);
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* LATEST BLOG */
.homeLatestBlog {
  width: 70%;
  margin: 6% auto 8% auto;
}

.homeLatestBlog > h1 {
  color: var(--pink-color);
  margin-bottom: 10%;
}

.hlb-allblogs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* MEDİA SCREEN */
@media screen and (max-width: 880px) {
  .hlb-bc-authorDate {
    flex-direction: column;
  }
  .hlb-bc-authorDate > p {
    margin: 2%;
    width: 100% !important;
  }
  .hlb-bc-subcontent {
    margin-top: 2%;
  }
  /* offered product */
  .o-product {
    width: 80%;
  }
}

@media screen and (max-width: 790px) {
  /* latest blog */
  .hlb-blog {
    max-width: 45%;
    flex: 1 1 164px;
    margin: 0 4% 6% 0;
    flex-grow: 1;
  }
  .hlb-bc-authorDate {
    flex-direction: column;
    width: 100%;
  }
  .hlb-bc-authorDate > p {
    margin: 2%;
    width: 100% !important;
  }

  /* best seller */
  .allBestSeller {
    width: 75%;
  }
  /* offered product */
  .o-product {
    width: 80%;
  }
  .op-addToCard > a {
    width: 35%;
  }
  .op-addToCard > a > button,
  .op-addToCard > .op-price {
    font-size: 14px;
  }
  .op-price {
    width: 55%;
  }
  .o-product > span {
    width: 48%;
  }
  .op-detail {
    width: 48%;
  }
  .op-detail > h1 {
    font-size: 23px;
  }
  .op-detail > p {
    font-size: 14px;
  }
}

@media screen and (max-width: 610px) {
  /* latest blog */
  .hlb-blog {
    max-width: 70%;
    flex: 1 1 250px;
    margin: 0 auto 10% auto;
  }
  /* offered product */
  .o-product {
    width: 85%;
  }
}
