.faq {
    width: 100%;
}

.faq-content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 10% auto;
}

.generalInfo {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.generalInfo>h1 {
    color: var(--darkBlue-color);
}

.faq-questions {
    width: 100%;
}

.f-quest {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2% 0    ;
}

.fq-title {
    color: var(--darkBlue-color);
    font-size: 18px;
    font-family: 'Josefin Sans';
    cursor: pointer;
}

.fq-answer {
    color: var(--grayViolet);
    font-size: 15px;
    font-family: 'Jost';
}

/* ASK QUESTION */
.askQuestion {
    width: 35%;
    padding: 5% 6%;
    background-color: var(--light-violet);
    display: flex;
    flex-direction: column;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 30%;
    /* border-radius: 5px; */
}

.askQuestion>h1 {
    color: var(--darkBlue-color);
    margin-bottom: 15%;
}

.aq-form>input {
    line-height: 35px;
    font-size: 16px;
    font-family: 'Jost';
    margin-bottom: 5%;
    padding-left: 3%;
    outline: none;
    width: 97%;
    border: 1px solid var(--grayViolet);
    border-radius: 5px;
}

.aq-form {
    display: flex;
    flex-direction: column;
}

.aq-form>textarea {
    font-size: 16px;
    font-family: 'Jost';
    width: 100%;
    padding-left: 3%;
    height: 25vh;
    resize: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--grayViolet);
}

.aq-form>button {
    width: 40%;
    padding: 5% 0;
    background-color: var(--pink-color);
    color: white;
    margin-top: 10%;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}